@import "../common/var";

$--color-primary: $va-color-blue;
$--color-success: $va-color-green;
$--color-danger: $va-color-red;
$--color-warning: $va-color-orange;
$--color-info: $va-color-grey-7;

$--color-text-primary: $va-color-black;
$--color-text-regular: $va-color-grey-8;
$--color-text-secondary: $va-color-grey-7;
$--color-text-placeholder: $va-color-grey-4;
$--avatar-background-color: $va-color-grey-4;

$--border-color-lighter: $va-color-grey-3;

